* {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.header {
  @apply flex justify-between px-20 items-center h-[10vh] fixed w-screen shadow-md bg-white;
}

.nav {
  @apply flex justify-between w-[40vw] items-center text-slate-700;
}

.subheader {
  @apply bg-primaryBg text-white justify-center h-[10vh] w-full text-xl flex items-center;
}

.radio {
  border: 2px solid gray !important;
  width: 15px !important;
  height: 15px !important;
  background-color: transparent !important;
}

.radioTin {
  appearance: none !important;
  border: 2px solid gray !important;
  width: 13px !important;
  height: 13px !important;
  border-radius: 50%;
}

.radio:checked,
.radioTin:checked {
  background-color: blue !important;
  border: 2px solid blue !important;
}

.tinNav.actice {
  border-bottom: 2px solid #106e63;
  color: black;
}
